<?php /** @var $block \Bitkorn\Office\Block\Hello */ ?>
<h1>Hello</h1>

<div data-mage-init='{"bitkornHello":{"myVar1": "myValue1", "myVar2": "myValue2 blah"}}'>Bitkorn</div>



<p><?php echo $block->helloPublic() ?></p>
<p><?php // echo $block->helloProtected() ?></p>
<p><?php //echo $block->helloPrivate() ?></p>


